body {
    position: relative;
    overflow: hidden;
}

.toast {
    position: absolute;
    right: -20%;
    top: 1rem;
    width: 14rem;
    height: 3.5rem;
    border-radius: 4px;
    background-color: green;
    transition: all 300ms;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-lista-lanhouses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status-ativo {
    background-color: #06BA63;
}

.status-bloqueado {
    background-color:#D1462F;
}

#modal-cadastro-lanhouse {
    position: relative;
}

.lista-lanhouses {
    width: 95%;
}

.lista-lanhouses td {
    border: 1px solid black;
    text-align: -webkit-center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lista-lanhouses tr:nth-child(2n) {
    background-color: #ccc;
}

.containter-modal-endereco-lanhouse{
    display: flex;
    flex-direction: column;
}

.representante-open-modal, .endereco-open-modal, .ativar-desativar-lanhouse, .login-direto, .criar-usuario {
    text-decoration: underline;
    cursor: pointer;
}