@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.mobile {
    display: none;
}

html {
    overflow: hidden;
}

* {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

body {
    overflow: hidden;
    position: relative;
}

header {
    width: 100vw;
    background-color: #151515;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    display: flex !important;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    height: 70%;
}

nav ul {
    display: flex;
    color: white;
    font-size: 24px;
    width: 80%;
    justify-content: space-evenly;
}

.accountItem {
    height: 40%;
    cursor: pointer;
}

.accountItem img {
    height: 100%;
}

#opcoes-login-cadastro {
    display: none;
    position: absolute;
    top: 100px;
    right: 30px;
    width: 230px;
    height: 120px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    z-index: 1;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

#opcoes-login-cadastro a {
    text-decoration: none;
}

#opcoes-login-cadastro .opcao {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#opcoes-login-cadastro .opcao span {
    font-size: 21px;
}

#opcoes-login-cadastro .opcao img {
    height: 27px;
}

main {
    margin-top: 6rem;
    height: 100vh;
}

.cadastro-titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}

.cadastro-desc {
    font-size: 2rem;
    width: 700px;
}

.cadastro {
    margin-left: 6rem;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.forms {
    display: flex;
    width: 100%;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 6rem;
}

.validadores-senha {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: 1.3rem;
    gap: .3rem;
    font-size: 17px;
}

.validadores-senha>span:nth-child(1) {
    margin-bottom: .6rem;
}

.validado {
    background-image: url(../assets/imgs/check-icon.svg) !important;
}

.validador {
    display: flex;
    align-items: center;
}

.validadores-icon {
    width: 20px;
    height: 20px;
    background-image: url(../assets/imgs/alert-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: .3rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: relative;
    width: 100%;
}

.error-cookie {
    position: absolute;
    top: 3.6rem;
    color: red;
    width: 200%;
}

.input-row {
    display: flex;
    gap: 5rem
}

.input-span {
    font-size: 1.2rem;
    font-weight: 700;
}

.input-container input {
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: all 100ms;
}

.input-container input:focus {
    transition: all 100ms;
    outline: none;
    border-bottom: 3px solid black;
    margin-bottom: -2px;
}

#btCadastrar {
    color: white;
    background-color: #337BFF;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.opcao-login>a {
    color: #337BFF;
}

.login-btcadastro {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.opcao-login {
    font-size: 18px;
    font-weight: 700;
}

.main-img {
    position: absolute;
    bottom: 2rem;
    right: 0;
}

.main-img>img {
    width: 40rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.validadores-senha-mobile {
    display: none;
}

.success {
    width: 200px;
    height: auto;
    padding: 10px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 15px;
    bottom: 105px;
    background-color: #269c26;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    animation: show-right 200ms;
    animation-fill-mode: forwards;
}

.success img {
    height: 30px;
}

.success span {
    width: 100%;
}

/* ANIMAÇÕES ------------------------------------------------ */
@keyframes show-right {
    from {
        transform: translateX(60%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes show-down {
    from {
        transform: translateY(60%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


@media only screen and (max-width: 600px) {
    @import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

    * {
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .mobile {
        display: flex;
    }

    .accountItem {
        position: absolute;
        right: 1rem;
    }

    .options {
        position: absolute;
        left: 1rem;
        width: 30px;
    }

    .options-icon {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    main {
        margin-top: 6rem;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .cadastro-titulo {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    .cadastro-desc {
        font-size: 21px;
        width: 100%;
        display: flex;
        text-align: center;
    }

    .cadastro {
        width: 85%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .forms {
        display: flex;
        width: 75%;
        flex-direction: column;
    }

    .form-cadastro {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 2rem;
        
    }

    .validadores-senha {
        display: none;
    }

    .validadores-senha-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        width: 100%;
    }

    .validadores-senha-mobile>span:nth-child(1) {
        margin-bottom: .6rem;
    }

    .validadores-senha-mobile .validado {
        background-image: url(../assets/imgs/check-icon.svg) !important;
    }

    .validadores-senha-mobile .validador {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 30px;
        gap: 5px;
    }

    .validadores-senha-mobile .validador .cookie {
        width: 100%;
    }

    .validadores-senha-mobile .validadores-icon {
        width: 20px;
        height: 20px;
        background-image: url(../assets/imgs/alert-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: .3rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 100%;
    }

    .error-cookie {
        position: absolute;
        top: 3.6rem;
        color: red;
        width: 200%;
    }

    .input-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .input-span {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    }

    .input-container input {
        font-size: 17px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
    }

    #btCadastrar {
        width: 100%;
        color: white;
        background-color: #337BFF;
        padding: 5px 15px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 500;
    }

    .opcao-login {
        font-size: 18px;
        font-weight: 500;
    }

    .opcao-login>a {
        color: #337BFF;
    }

    .login-btcadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 7rem;
    }

    .main-img {
        display: none;
    }

    .success {
        width: auto;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 15%;
        bottom: 15px;
        background-color: #269c26;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        animation: show-down 200ms;
        animation-fill-mode: forwards;
    }
    
    .success img {
        height: 30px;
    }
    
    .success span {
        width: 100%;
    }
    
    /* ANIMAÇÕES ------------------------------------------------ */
    @keyframes show-right {
        from {
            transform: translateX(60%);
            opacity: 0;
        }
    
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
    
    @keyframes show-down {
        from {
            transform: translateY(40%);
            opacity: 0;
        }
    
        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }

}