#opcoes-login-cadastro {
    display: none;
    position: absolute;
    top: 100px;
    right: 30px;
    width: 230px;
    height: 120px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    z-index: 1;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
}

#opcoes-login-cadastro a {
    text-decoration: none;
}

#opcoes-login-cadastro .opcao {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#opcoes-login-cadastro .opcao span {
    font-size: 22px;
}

#opcoes-login-cadastro .opcao img {
    height: 27px;
}

body {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 2.5rem;
}

span {
    color: #000;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-transform: uppercase; */
}

.flex {
    display: flex;
    gap: 5px;
}

.column {
    flex-direction: column;
}

/* .topFlex {} */

.topBox {
    height: 15rem;
    width: 77rem;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}

.borda {
    border-radius: 15px;
    border: 3px solid #337BFF;
}

.inputStyle {
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    transition: all 100ms;
}

.margem {
    padding: 1rem;
}

.inputsBox {
    gap: 1rem !important;
}

.dentro {
    gap: 1rem;
}

.topEndereco {
    gap: 1rem;
}

.btBuscarCep {
    color: white;
    background-color: #337BFF;
    width: 80px;
    height: 25px;
    border-radius: 0.5rem;
    border: none;
    font-size: 15px;
    font-weight: 700;
    /* filter: drop-shadow(0px 4px 16px rgba(51, 123, 255, 0.50)); */
    cursor: pointer
}

.boxRepresentante {
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.tamanho {
    width: 27rem;
    justify-content: center;
    align-items: center;
}

.cadastro-representante {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 16rem;
    width: 40rem;
}

.cadastro-empresa {
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cadastro-endereco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: large;
    color: #000;
    /* font-family: 'Nunito';font-size: 22px; */
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    text-align: center;
}

.large {
    font-size: 2rem !important;
    font-weight: 900;
}