body {
    display: flex;
    background: #F0F0F0;
}

.side-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 6%;
    padding: 2rem 0;
    background: white;
    flex-shrink: 0;
    z-index: -2;
    
}

.options {
    justify-content: first baseline;

}

.options img {
    height: 5vh;
    color: #2D2D2D;
}

