@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro') format('woff2');
  /* Adicione mais formatos de fonte se necessário (woff, ttf, etc.) */
}

:root {
  --title-border-top: 0%;
}

.desc-container.mobile {
  display: none;
}

.mobile {
  display: none;
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
}

body {
  position: relative;
}

/* Estilizando a barra de scroll */
/* body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #337bff;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

} */

header {
  width: 100vw;
  background-color: #151515;
  position: fixed;
  top: 0;
  z-index: 600 !important;
}

nav {
  display: flex !important;
  height: 5rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  height: 70%;
}

nav ul {
  display: flex;
  color: white;
  font-size: 24px;
  width: 80%;
  justify-content: space-evenly;
}

.accountItem {
  height: 40%;
  cursor: pointer;
}

.accountItem img {
  height: 100%;
}

#opcoes-login-cadastro {
  display: none;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 230px;
  height: 120px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px;
  z-index: 1;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
  animation: show-right 200ms;
  animation-fill-mode: forwards;
}

#opcoes-login-cadastro a {
  text-decoration: none;
}

#opcoes-login-cadastro .opcao {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 15px;
}

#opcoes-login-cadastro .opcao span {
  font-size: 22px;
}

#opcoes-login-cadastro .opcao img {
  height: 27px;
}

main {
  margin-top: 6rem;
  position: relative;
  width: 100vw;
  height: 260vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.welcome {
  height: 80vh;
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo-blue-blur {
  position: absolute;
  z-index: -1;
  top: -13rem;
  left: 0;
}

.logo-name {
  margin-top: 1.6rem;
  margin-left: 6.6rem;
}

.white-logo-name {
  width: 17rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  width: 30%;
  margin: 6.2rem 0 0 6rem;
}

.welcome-header {
  margin-left: 0.2rem;
}

.welcome-text .header-text {
  font-size: 2rem;
  font-weight: 600;
}

.welcome-body .body-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.welcome-img {
  width: 35rem;
  position: absolute;
  right: 10rem;
  top: 2rem;
}

.title-icon {
  background-color: #337bff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-top: 5rem;
  margin-bottom: 2.7rem;
}

.desc-title .title-section {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.desc-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: 3rem;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

/* .section-services {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
} */

.desc-container {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.desc-container .services {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 70px;
}

.desc-container .services .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #000 1px solid;
  background: #000;
  border-radius: 15px;
  height: 19rem;
  width: 18.5rem;
  box-shadow: #0007 0px 8px 24px;
}

.desc-container .services .style-image {
  height: 12rem;
  width: 12rem;
  border: 5px solid #337bff;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
  box-shadow: #0007 0px 8px 24px;
}

.desc-container .services img {
  height: 8rem;
}

.desc-container .services .title-item {
  display: flex;
  position: relative;
  bottom: 60px;
}

.desc-container .services .desc-item {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  align-self: center;
  padding: 15px;
  text-align: center;
  /* line-height: 2rem; */
}

.desc-main {
  display: flex;
  position: relative;
  width: 60rem;
  height: 34.3rem;
}

.desc-main::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 1.3rem;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 47%,
      rgba(0, 212, 255, 0) 100%);
  box-shadow: #0007 0px 8px 24px;
}

.desc-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.desc-text {
  z-index: 267;
  position: relative;
  color: white;
  font-size: 1.4rem;
  font-family: "Neue Haas Grotesk Display Pro";
  width: 70%;
}

.desc-left {
  border-radius: 1.3rem;
  background-color: black;
  width: 100%;
}

.desc-left .title-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 3rem;
}

.title-list-container .title-list-border {
  position: absolute;
  left: 1rem;
  background-color: #4f4a45;
  z-index: 3;
  width: 3px;
  height: 110%;
  top: -0.5rem;
  border-radius: 5px;
}

.title-list-container .title-list-border::after {
  position: absolute;
  content: "";
  background-color: #337bff;
  transition: all 300ms;
  z-index: 3;
  width: 3px;
  height: 33%;
  border-radius: 5px;
  top: var(--title-border-top);
}

.desc-left .title-list {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-list-container .title-integridade,
.title-list-container .title-inovacao,
.title-list-container .title-equidade {
  color: #4f4a45;
  font-size: 3rem;
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 700;
  transition: all 300ms;
  cursor: pointer;
}

.desc-left .active {
  color: white;
}

.desc-right {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  border-radius: 1.3rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

nav a {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#footer {
  height: 350px;
  background-color: #181818;
  color: white;
  display: flex !important;
  width: 100vw !important;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

footer .left-side {
  margin-left: 6rem;
  padding-top: 3rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  font-size: 1.2rem;
}

footer .contato {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.contato-texto {
  width: 20rem;
}

footer .right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .right-side>span {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5rem;
}

footer .input-row {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
}

#iAssunto {
  margin-top: 2rem;
  width: 23rem;
}

footer input {
  border-radius: 7px;
  background: linear-gradient(0deg, #353535 0%, #353535 100%), linear-gradient(0deg, #353535 0%, #353535 100%), linear-gradient(0deg, #353535 0%, #353535 100%), #353535;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  width: 10rem;
  padding: 0.5rem 0.9rem;
}

footer button {
  width: 137px;
  height: 54px;
  border-radius: 26px;
  background: #337BFF;
  box-shadow: 0px 0px 25px 0px rgba(51, 123, 255, 0.20);
  border: none;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.all-rights {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 6rem;
  background-color: black;
  padding: 10px;
}

.rights-logo-name {
  width: 8rem;
}

.all-rights span {
  color: #4f4a45;
}

/* ANIMAÇÕES ------------------------------------------------------------  */
@keyframes show-right {
  from {
    transform: translateX(60%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes show-down {
  from {
    transform: translateY(40%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  @font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro') format('woff2');
    /* Adicione mais formatos de fonte se necessário (woff, ttf, etc.) */
}


  * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  body {
    overflow-x: hidden;
  }

  .mobile {
    display: flex;
  }

  .accountItem {
    position: absolute;
    right: 1rem;
  }

  .options {
    position: absolute;
    left: 1rem;
    width: 30px;
  }

  .options-icon {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  #opcoes-login-cadastro {
    display: none;
    position: absolute;
    top: 90px;
    right: 30px;
    width: 230px;
    height: 120px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    z-index: 1;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
    animation: show-right 200ms;
    animation-fill-mode: forwards;
  }

  main {
    margin-top: 6rem;
    position: relative;
    width: 100%;
    height: 454vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .logo-name {
    margin-top: 1.1rem;
    margin-left: unset;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 0;
  }

  .welcome-img {
    position: relative;
    width: 24rem;
    top: 3rem;
    right: unset;
  }

  .welcome-text .header-text {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .welcome-body .body-text {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .white-logo-name {
    width: 15rem;
  }

  .welcome-text {
    margin: 2rem 0 0 0;
    width: 80%;
  }

  .desc-container-mobile {
    border-radius: 1rem;
    height: 70vh;
    width: 80%;
    background-color: #151515;
    overflow-y: scroll;
    color: white;
    scroll-snap-type: x mandatory;
  }

  .desc-title {
    margin-left: unset;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  #services {
    margin-top: 13rem;
  }

  .desc-title>span {
    font-size: 1rem;
  }

  .desc-container {
    display: none;
  }

  .box-service {
    display: flex;
  }

  .desc-container .services {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70rem;
    margin-top: 39rem
  }

  .desc-container .services .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background: #000;
    border-radius: 15px;
    width: 15rem;
    height: 16rem;
    box-shadow: none;
  }

  .desc-container .services .style-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #337bff;
    background: #fff;
    height: 8rem;
    width: 8rem;
    position: relative;
    top: -65px;
    box-shadow: none;
  }

  .desc-container .services img {
    height: 5rem;
  }

  .desc-container .services .title-item {
    display: flex;
    position: relative;
    bottom: 45px;
  }

  .desc-container .services .desc-item {
    font-size: 1.5rem;
    font-weight: 500;
    align-self: center;
    padding: 15px;
    text-align: center;
    color: #fff;
  }

  #porque {
    margin-top: 39rem;
  }

  .desc-container.mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .desc-container.mobile .desc-main-mobile {
    font-size: 3rem;
    border-radius: 1rem;
    height: 70vh;
    width: 80%;
    background-color: #151515;
    overflow-y: scroll;
    color: white;
    scroll-snap-type: x mandatory;
  }

  .title-list-container-mobile {
    position: relative;
    display: flex;
    margin-top: 1rem;
    width: 300%;
  }

  .desc-integridade-main-mobile,
  .desc-Inovação-main-mobile,
  .desc-Equidade-main-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
  }

  .desc-integridade-main-mobile .title,
  .desc-Inovação-main-mobile .title,
  .desc-Equidade-main-mobile .title {
    display: flex;
    width: 70%;
    border-bottom: 2px solid #337bff;
    justify-content: center;
    padding-bottom: 6px;
  }

  .textinho {
    margin-top: 10%;
    font-size: 1.3rem;
    padding: 0 40px;
  }



  #footer {
    height: 500px;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    width: 100vw !important;
    /* margin-top: 3rem; */
  }

  footer .left-side {
    padding: 30px 0 0 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    gap: 15px;
    margin-left: 0;
  }

  footer .contato {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }

  .contato-texto {
    width: 20rem;
    text-align: center;
  }

  footer .right-side {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .right-side>span {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
  }

  footer .input-row {
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .links img {
    height: 40px;
  }

  #iAssunto {
    margin-top: 2rem;
    width: 70%;
    align-self: center;
  }


  footer input {
    border-radius: 7px;
    background: linear-gradient(0deg, #353535 0%, #353535 100%), linear-gradient(0deg, #353535 0%, #353535 100%), linear-gradient(0deg, #353535 0%, #353535 100%), #353535;
    border: none;
    font-size: 1.1rem;
    color: white;
    width: 70%;
    padding: 0.3rem 0.9rem;
  }

  footer button {
    width: 137px;
    height: 40px;
    border-radius: 26px;
    background: #337BFF;
    box-shadow: 0px 0px 25px 0px rgba(51, 123, 255, 0.20);
    border: none;
    font-size: 1.1rem;
    margin-top: 1.2rem;
    align-self: center;
    padding: 5px;
  }

  .all-rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: black;
    padding: 15px;
    gap: 10px;
  }

  .rights-logo-name {
    width: 7rem;
  }

  .all-rights span {
    color: #4f4a45;
  }

  .autoria {
    display: none;
  }

  /* ANIMAÇÕES ------------------------------------------------------------  */
  @keyframes show-right {
    from {
      transform: translateX(60%);
      opacity: 0;
    }

    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes show-down {
    from {
      transform: translateY(40%);
      opacity: 0;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}