* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  background-color: #151515;
  position: sticky;
}

nav {
  display: flex !important;
  height: 5rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.espacoNav{
  height: 0%;
  width: 0%;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  height: 70%;
}

nav ul {
  display: flex;
  color: white;
  font-size: 24px;
  width: 80%;
  justify-content: space-evenly;
}

.accountItem {
  height: 40%;
}

.accountItem img {
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
}

.welcomeInfo {
  width: 100vw;
  height: 100%;
  display: flex;
}

.leftMainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 50%;
  gap: 3rem;
}

.rightMainInfo {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 2rem;
  justify-content: center;
}

.welcome-desc-image {
  width: 28rem;
}

.logo-name {
  width: 15rem;
}

#vertical-info-line {
  position: absolute;
  width: 1rem;
  left: -3rem;
}

.leftMainInfo .welcome-text {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  font-size: 1.2rem;
  align-items: center;
  position: relative;
  width: 50%;
}

.leftMainInfo .pcs-image {
  width: 30rem;
  margin-top: -2rem;
}

.nocInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.nocInfo .card {
  display: flex;
  width: 70rem;
  height: 34rem;
  border-radius: 2rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 16.74%,
      rgba(0, 0, 0, 0) 100%
    ),
    #337bff;
  margin-top: 10rem;
}

.nocInfo .leftSide, .nocInfo .rightSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 3rem;
}

.nocInfo .nocTitle{
  font-weight: 600;
}

.nocInfo .nocTitle, .nocInfo .checkList {
  font-size: 32px;
  color: white;
  width: 24rem;
}

.nocInfo .checkList{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nocInfo .checkList .check{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.imagenzinhas{
  width: 70px;
}
.imagem-pc{
  width: 550px;
}

@media only screen and (max-width: 600px){

  body{
    display: flex;
    justify-content:space-around;
  }
  
    header {
      width: 20vw;
      height: 210vh;
      background-color: #151515;
    } 
    nav {
      display: flex  !important;
      flex-direction: column;
      height: 100vh;
      align-items: center;
      justify-content: start;
      width: 100%;
    }
    .espacoNav{
      width: 100%;
      height: 60%;
      background-color: blue;
    }
  
    nav ul {
      display: flex  !important;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    
    a {
      color: white;
      text-decoration: none;
    }
    
    .logo {
      height: 10%;
    }
    
    nav ul {
      display: flex;
      color: white;
      font-size: 24px;
      width: 80%;
      justify-content: space-evenly;
    }
    
    .accountItem {
      height: 10%;
    }
    
    .accountItem img {
      height: 100%;
    }
    

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80vw;
      height: 210vh;
    }
    
    .welcomeInfo {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    
    .leftMainInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      width: 100%;
      gap: 3rem;
    }
    
    .rightMainInfo {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 2rem;
      justify-content: center;
    }
    
    .welcome-desc-image {
      width: 95%;
    }
    
    .logo-name {
      width: 50%;
    }
    
    #vertical-info-line {
      position: absolute;
      width: 1%;
      left: -3%;
    }
    
    .leftMainInfo .welcome-text {
      display: flex;
      flex-direction: column;
      gap: 2%;
      font-size: 80%;
      align-items: center;
      position: relative;
      width: 80%;
      height: 40vh;
    }
    .welcome-text span{
      height: 20%;
    }
    
    .leftMainInfo .pcs-image {
      width: 90%;
      margin-top: -2%;
    }
    
    .nocInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
    }
    
    .nocInfo .card {
      display: flex;
      flex-direction: column;

      width: 90%;
      
      border-radius: 2%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4) 16.74%,
          rgba(0, 0, 0, 0) 100%
        ),
        #337bff;
      margin-top: 10%;
    }
    
    .nocInfo .leftSide, .nocInfo .rightSide{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    
    .nocInfo .nocTitle{
      width: 90%;
      font-weight: 600;
    }
    
    .nocInfo .nocTitle, .nocInfo .checkList {
      font-size: 20px;
      color: white;

    
    }
    
    .nocInfo .checkList{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2%;
    }
    
    .nocInfo .checkList .check{
      display: flex;
      align-items: center;
      gap: .5%;
    }

    .imagenzinhas{
      width: 20%;
    }
    .imagem-pc{
      width: 90%;
    }




  }