/* @keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
} */

.mobile {
    display: none;
}

.screen {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.mainImage {
    display: flex;
    /* padding: 5% 16% 0% 0%; */
    height: 90%;
    margin-top: 5.5rem;
    margin-right: 10rem;
}

.flexc {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex {
    display: flex;
}

html {
    overflow: hidden;
}

* {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

body,
html {
    height: 100% !important;
}

body {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

}

header {
    width: 100vw;
    background-color: #151515;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    display: flex !important;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex !important;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    height: 70%;
}

nav ul {
    display: flex;
    color: white;
    font-size: 24px;
    width: 80%;
    justify-content: space-evenly;
}

.accountItem {
    height: 40%;
    cursor: pointer;
}

.accountItem img {
    height: 100%;
}

#opcoes-login-cadastro {
    display: none;
    position: absolute;
    top: 100px;
    right: 30px;
    width: 230px;
    height: 120px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    z-index: 1;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    animation: show-right 200ms;
    animation-fill-mode: forwards;
}

#opcoes-login-cadastro a {
    text-decoration: none;
}

#opcoes-login-cadastro .opcao {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#opcoes-login-cadastro .opcao span {
    font-size: 21px;
}

#opcoes-login-cadastro .opcao img {
    height: 27px;
}

.title {
    flex-direction: row;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texts span {
    flex-direction: row;
    color: #000;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputsBox {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-direction: row;
    gap: 10%;
}

input {
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: all 100ms;
}

.signBox span {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.signBox {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    padding-right: 4rem;
    align-items: center;
    gap: 0.5rem;
}

.cadastro {
    text-decoration: none;
    color: #337BFF;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.loginButon {
    color: white;
    background-color: #337BFF;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.loginContent {
    gap: 5rem;
}

.buttonBox {
    width: 100%;
    height: max-content;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.top {
    gap: 2rem;
}

.base {
    gap: 1rem;
}

#cookie {
    color: red;
}

.success {
    width: auto;
    height: auto;
    padding: 10px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #269c26;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    animation: show-right 200ms;
    animation-fill-mode: forwards;
}

.success img {
    height: 30px;
}

.success span {
    width: 100%;
}

/* ANIMAÇÕES ------------------------------------------------ */
@keyframes show-right {
    from {
        transform: translateX(60%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes show-down {
    from {
        transform: translateY(40%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    @import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

    * {
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    }

    body {
        overflow-x: hidden;
    }

    .mobile {
        display: flex;
    }

    .accountItem {
        position: absolute;
        right: 1rem;
    }

    .options {
        position: absolute;
        left: 1rem;
        width: 30px;
    }

    .options-icon {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .screen {
        display: flex;
        overflow-y: scroll;
    }

    .mainImage {
        display: none;
    }

    .flexc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .title {
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;
        font-size: 35px;
    }

    .texts {
        gap: 10px;
        width: 75%;
    }

    .texts span {
        color: #000;
        text-align: center;
        font-size: 21px;
    }

    .inputsBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 15px;
        font-weight: 700;
        width: 65%;
    }

    .input {
        gap: 7px;
    }

    .input span {
        display: flex;
        width: 100%;
        text-align: start;
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 2px solid #000;
        font-size: 18px;
    }

    .signBox span {
        font-size: 18px;
        width: 100%;
        font-weight: 500;
    }

    .signBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-right: 0;
        font-size: 27px;
        font-weight: 700;
    }

    .cadastro {
        font-size: 18px;
        width: 100%;
        font-weight: 700;
        display: flex;
        text-align: center;
        text-decoration: none;
        color: #337BFF;
    }

    .loginButon {
        width: 100%;
        background: #337bff;
        color: white;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        filter: none;
        font-weight: 500;
    }

    .loginContent {
        margin-top: 4rem;
        gap: 1.5rem;
    }

    .buttonBox {
        width: 67%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .top {
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .base {
        gap: 10px;
    }

    #cookie {
        color: red;
    }

    .success {
        width: auto;
        height: auto;
        padding: 10px;
        display: none;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 15%;
        bottom: 15px;
        background-color: #269c26;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        animation: show-down 200ms;
        animation-fill-mode: forwards;
    }

    .success img {
        height: 30px;
    }

    .success span {
        width: 100%;
    }

    /* ANIMAÇÕES ------------------------------------------------------------  */
    @keyframes show-right {
        from {
            transform: translateX(60%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    @keyframes show-down {
        from {
            transform: translateY(40%);
            opacity: 0;
        }

        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}