* {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
}

body {
    background: #F0F0F0;
}

.nav-horizontal {
    position: absolute;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 0.5px solid #CCC;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav-horizontal img {
    height: 30px;
}

.nav-horizontal #logo-byte {
    position: relative;
    left: 15px;
    height: 40px;
}

.nav-horizontal .user-info {
    display: flex;
    gap: 8px;
    position: relative;
    right: 15px;
}

.nav-horizontal .user-info .user-name-cargo {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav-horizontal .user-info .user-name-cargo .user-icon {
    display: flex;
    align-items: center;
}

.nav-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 643px;
    width: 70px;
    z-index: 8;
    padding-top: 80px;
    border-right: 0.5px solid #CCC;
    background: #FFF;
    color: #fff;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.nav-left a {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    display: table;
    width: 200px;
    padding: 10px;
}

.nav-left #tela-atual span {
    color: #337bff;
}

.nav-left .icons {
    position: relative;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 10px;
}

.nav-left span {
    position: relative;
    left: 30px;
    color: #000;
    bottom: 6px;
}

.nav-left:hover {
    width: 200px;
    transition: all 0.5s ease;
}

.nav-left li:hover {
    background: #F0F0F0;
}

.nav-left .sair {
    position: relative;
}

.nav-left .sair {
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 16px;
    display: table;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.container-dash {
    background: #F0F0F0;
    width: 1446px;
    height: 672px;
    position: absolute;
    top: 51px;
    left: 71px;
    /* display: flex; */
}

.cabecalho {
    height: 10%;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 15px;
    left: 55px;
}

.container-dash h1 {
    font-size: 22px;
    font-weight: 600;
}

.cabecalho .combo-box-maquinas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 10px;
    height: 80%;
    width: 15%;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

.cabecalho .combo-box-maquinas #lista-maquinas {
    border: none;
    width: 80%;
    height: 70%;
    display: flex;
    align-self: center;
    font-size: 18px;
    text-align: center;
}

.cabecalho .combo-box-maquinas option {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.box-legend {
    background: #fff;
    border-radius: 10px;
    height: 80%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

.box-legend .item-legend {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cor-legend {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle-ideal {
    background-color: #14CA3C;;
}

.circle-critico {
    background-color: #EF2C2C;
}

.circle-atencao {
    background-color: #ffb800;
}

.conteudo-dash {
    width: 92%;
    height: 78%;
    display: flex;
    align-self: center;
    position: relative;
    left: 55px;
    top: 27px;
}

#cor-alerta-atencao {
    background-color: #ffb800;
}

#cor-alerta-critico {
    background-color: #ff0000;
}

/* OVERVIEW ------------------------------------------------------------- */
#conteudo-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.grafico-overview-1 {
    width: 376px;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grafico-overview-1:hover {
    cursor: pointer;
}

.grafico-overview-2 {
    width: 602px;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grafico-overview-2:hover {
    cursor: pointer;
}

.info-graficos {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#overview-grafico-memoria {
    height: 100%;
    width: 100%;
}

.title-canva {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-componente {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ideal {
    background-color: #14CA3C;;
}

.critico {
    background-color: #EF2C2C;
}

.atencao {
    background-color: #ffb800;
}

.box-rede {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.upload-download .dados-rede {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

#overview-dado-upload {
    font-size: 40px;
    display: flex;
    text-align: end;
}

#overview-dado-download {
    font-size: 40px;
    display: flex;
    text-align: end;
}

.metrica-rede {
    font-size: 25px;
}
.icon-arrows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-arrows img {
    height: 50px;
}

/* CPU ------------------------------------------------------------- */
#conteudo-cpu {
    display: flex;
}

.cpu-graficos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
}

.cpu-graficos .cpu-chart {
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cpu-kpi-detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.cpu-kpi-detalhes .cpu-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.cpu-kpi-detalhes .cpu-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.cpu-kpi-detalhes .cpu-detalhes .cpu-detalhes-container {
    display: flex;
}

.cpu-kpi-detalhes .cpu-detalhes .cpu-detalhes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 120px;
}

.cpu-detalhes .cpu-detalhes-info {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: start;
}

.cpu-detalhes .cpu-detalhes-info .cpu-title-detalhe {
    font-weight: 600;
}


/* MEMÓRIA RAM ------------------------------------------------------------- */
#conteudo-memoria {
    display: flex;
}

.memoria-graficos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
}

.memoria-graficos .memoria-chart {
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.memoria-kpi-detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.memoria-kpi-detalhes .memoria-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.memoria-kpi-detalhes .memoria-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.memoria-kpi-detalhes .memoria-detalhes .memoria-detalhes-container {
    display: flex;
}

.memoria-kpi-detalhes .memoria-detalhes .memoria-detalhes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 80px;
}

.memoria-detalhes .memoria-detalhes-info {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: start;
}

.memoria-detalhes .memoria-detalhes-info .memoria-title-detalhe {
    font-weight: 600;
}


/* DISCO ------------------------------------------------------------- */
#conteudo-disco {
    display: flex;
}

.disco-graficos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
}

.disco-graficos .disco-chart {
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disco-kpi-detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.disco-kpi-detalhes .disco-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.disco-kpi-detalhes .disco-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.disco-kpi-detalhes .disco-detalhes .disco-detalhes-container {
    display: flex;
}

.disco-kpi-detalhes .disco-detalhes .disco-detalhes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 80px;
}

.disco-detalhes .disco-detalhes-info {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: start;
}

.disco-detalhes .disco-detalhes-info .disco-title-detalhe {
    font-weight: 600;
}


/* REDE ------------------------------------------------------------- */
#conteudo-rede {
    display: flex;
}

.rede-graficos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
}

.rede-graficos .rede-chart {
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rede-kpi-detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.rede-kpi-detalhes .rede-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.rede-kpi-detalhes .rede-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.rede-kpi-detalhes .rede-detalhes .rede-detalhes-container {
    display: flex;
}

.rede-kpi-detalhes .rede-detalhes .rede-detalhes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 80px;
}

.rede-detalhes .rede-detalhes-info {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: start;
}

.rede-detalhes .rede-detalhes-info .rede-title-detalhe {
    font-weight: 600;
}


/* GPU ------------------------------------------------------------- */
#conteudo-gpu {
    display: flex;
}

.gpu-graficos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
}

.gpu-graficos .gpu-chart {
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gpu-kpi-detalhes {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.gpu-kpi-detalhes .gpu-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.gpu-kpi-detalhes .gpu-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 25px;
}

.gpu-kpi-detalhes .gpu-detalhes .gpu-detalhes-container {
    display: flex;
}

.gpu-kpi-detalhes .gpu-detalhes .gpu-detalhes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 80px;
}

.gpu-detalhes .gpu-detalhes-info {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: start;
}

.gpu-detalhes .gpu-detalhes-info .gpu-title-detalhe {
    font-weight: 600;
}