.container {
    width: 100vw;
    height: 100vh;
}

.container-lista-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status-ativo {
    background-color: #06BA63;
}

.status-bloqueado {
    background-color:#D1462F;
}


.lista-usuarios {
    width: 95%;
}

.lista-usuarios td {
    border: 1px solid black;
    text-align: -webkit-center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lista-usuarios tr:nth-child(2n) {
    background-color: #ccc;
}

.containter-modal-endereco-lanhouse{
    display: flex;
    flex-direction: column;
}

.ativar-desativar-usuario, .visualizar-lanhouse {
    text-decoration: underline;
    cursor: pointer;
}

